*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Bebas Neue", "Arial", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #f9f9f9;
}

img {
    max-width: 100%;
    height: auto;
}
/* Main content styles */
.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.blog {
    display: flex;
    max-width: 1300px;
    width: 100%;
    margin: auto;
    padding: 25px;
    flex-grow: 1;
}

/* Main-blog styles */
.blog-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    background-image: url(../img/left-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.blog-main-content {
    width: 100%;
    max-width: 285px;

}

.blog-main-heading {
    margin-top: 0;
    margin-bottom: 24px;
    color: #fff;
    font-size: 24px;
    line-height: auto;
    letter-spacing: 2px;
    text-transform: uppercase;
}
/* Blog main link styles */
.blog-main-link {
    display: inline-block;
    padding: 12px 24px;
    background-color: #1e90ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.blog-main-link:hover {
    opacity: 0.8;
}
.blog-main-link:active {
    opacity: 0.6;
}

.blog-main-link::before {
    display: inline-block;
    width: 20px;
    height: 19px;
    background-image: url(../img/Vector.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 4px;
    color: #fff;
    content: "";
}

/* Article styles */
.latest-videos {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 54px 54px 0px 54px;
    background-color: #fefefe;
}
.latest-videos-heading {
    font-size: 24px;
    line-height: normal;
    color: #222;
    margin-bottom: 24px;

}
.latest-videos-line {
    background-color: 1.5px solid #999;
    margin-bottom: 24px;
}

/* Blog article styles */
.blog-article {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.article-img {
    border-radius: 5px;
    width: 160px;
    height: 90px;
    margin-right:0;
}
/* Article content styles */
.article-content {
    display: block;
    padding: 16px;
    width: 100%;
    max-width: 327px;
}
.article-content-heading {
    display: block;
    font-size: 18px;
    line-height: 22px;
    color: #222;
    text-decoration: none;
}
.article-content-heading:not(:last-child) {
    margin-bottom: 4px;
}
.article-content-heading:hover {
    color: #1e90ff;
}
.article-content-heading:active {
    opacity: 0.6;
}

/* Article time uploaded and views icons */
.article-content-footer {
    display: flex;
    align-items: center;
}

.time-uploaded {
    display: flex;
    align-items: center;
    margin-right: 24px;
}
.time-uploaded::before {
    display: flex;
    background-image: url(../img/icon-clock.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 14px;
    margin-right: 4px;
    color: #888;
    content: "";
}

/* Views styles */
.views {
    display: flex;
    align-items: center;
}
.views::before {
    width: 14px;
    height: 14px;
    color: #888;
    background-image: url(../img/icon-views.svg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 4px;
    content: "";
}

.article-content-footer-text {
font-family: "Roboto Condensed", "Arial", sans-serif;
font-size: 12px;
line-height: normal;
color: #888;
}

/* Upload button styles */
.upload-btn {
    display: block;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 14px;
    line-height: normal;
    font-weight: 700;
    padding: 12px 209px;
    background-color: #1e90ff;
    color: #fff;
    border: 0;
    border-radius: 4px;
    margin-top: 15px;
    cursor: pointer;
}
.upload-btn:hover {
    opacity: 0.8;
}
.upload-btn:active {
    opacity: 0.6;
}

/* Retina display img */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .blog-main {
        background-image: url(../img/left-bg@2x.jpg);
    }

}